.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  position: fixed;
}

.navbar .navPageRoutes {
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  outline: none;
  transition: all 150ms linear;
}

.navbar .navPageRoutes:hover {
  background-color: #262626;
}

.navbar .navPageRoutes.active {
  background-color: #00dcff;
}
